Docs/Parameters XML File/AIM_ARINC664_Hardware_XML_Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- version 1.0 from Fabio Mussi (fabio.mussi@ni.com) -->
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:attributeGroup name ="boardGroup" >
    <xs:attribute name="BoardId" default="0" type="xs:int" >
      <xs:annotation>
        <xs:documentation>The ID of the board. It is a zero index element to enumerate the AFDX boards in the system.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PortSpeed" default="FDX_100MBIT" >
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value ="FDX_100MBIT" />
          <xs:enumeration value ="FDX_10MBIT" />
          <xs:enumeration value ="FDX_AUTO_100MBIT" />
          <xs:enumeration value ="FDX_AUTO_10MBIT" />
          <xs:enumeration value ="FDX_AUTO_ERROR" />
          <xs:enumeration value ="FDX_1000MBIT" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="PortConfig" default="FDX_SINGLE" >
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value ="FDX_SINGLE" />
          <xs:enumeration value ="FDX_REDUNDANT" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>    
  </xs:attributeGroup>
  <xs:attributeGroup name="portGroup">
    <xs:attribute name="PortId" use="required" type="xs:int" >
      <xs:annotation>
        <xs:documentation>The ID of the board. It is a zero index element to enumerate the AFDX boards in the system.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <!-- xs:attribute name="sessionType" use="required">
      <xs:annotation>
        <xs:documentation>The session type for the port (Tx-Generic, VL oriented, or Monitor)</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value ="Tx-Generic" />
          <xs:enumeration value ="Tx-Udp" />
          <xs:enumeration value ="Rx-Udp" />
          <xs:enumeration value ="Rx-Monitor" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute -->
    <xs:attribute name="PortMap" default="0" type="xs:int">
      <xs:annotation>
        <xs:documentation>
          This Portmap ID is a virtual ID assigned to the physical Port system. It is only used by Tx Ports only and ignored for Rx Ports</xs:documentation>
      </xs:annotation>
    </xs:attribute>   
  </xs:attributeGroup>
  <xs:attributeGroup name="txStartMode">
    <xs:attribute name="TxStartModeType" default="FDX_START">
      <xs:annotation>
        <xs:documentation>Control Parameter for the Transmitter Mode (Stop, Start immediately, upon trigger or at a IRIG time)</xs:documentation>
      </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value ="FDX_STOP" />
            <xs:enumeration value ="FDX_START" />
            <xs:enumeration value ="FDX_START_TRG" />
            <xs:enumeration value ="FDX_START_TIME" />
          </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="txGenericSessionGroup">
    <xs:attribute name="QueueSizeIn" default="0" type="xs:int" />
    <xs:attribute name="Count" default="0" type="xs:int" />
  </xs:attributeGroup>
  <xs:attributeGroup name="RxMonitorSessionGroup">
    <xs:attribute name="DefaultCronoMode" default="FDX_RX_DEFAULT_MON_ENA_ALL">
      <xs:annotation>
        <xs:documentation>The size of the transmit queue. If is zero, internal queue size will be used</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value ="FDX_RX_DEFAULT_ENA_CNT" />
          <xs:enumeration value ="FDX_RX_DEFAULT_MON_ENA_ALL" />
          <xs:enumeration value ="FDX_RX_DEFAULT_MON_ENA_GOOD" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="GlbMonBufferSizeIn" default="0" type="xs:int" />
    <xs:attribute name="TriggerPosition" default="0" type="xs:int" />
    <xs:attribute name="MaxFileSizeMB" default="1" type="xs:int"  />
    <xs:attribute name="CaptureMode" default="FDX_MON_CONTINUOUS" >
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value ="FDX_MON_SINGLE" />
          <xs:enumeration value ="FDX_MON_CONTINUOUS" />
          <xs:enumeration value ="FDX_MON_SELECTIVE" />
          <xs:enumeration value ="FDX_MON_RECORDING" />
          <xs:enumeration value ="FDX_MON_REROS" />
          <xs:enumeration value ="FDX_MON_HMU" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Strobe" default="FDX_MON_STROBE_DIS" >
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value ="FDX_MON_STROBE_DIS" />
          <xs:enumeration value ="FDX_MON_STROBE_STOP" />
          <xs:enumeration value ="FDX_MON_STROBE_START" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="UdpCommPortTypeGroup">
    <xs:attribute name="PortType" default="FDX_UDP_SAMPLING">
      <xs:annotation>
        <xs:documentation>Type of UDP port (sampling or queueing) .</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value ="FDX_UDP_SAMPLING" />
          <xs:enumeration value ="FDX_UDP_QUEUING" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="TxUdpSessionGroup">
    <xs:attribute name="VlId" default="0" type="xs:int" />
    <xs:attribute name="SubVls" default="1" type="xs:int" />
    <xs:attribute name="Bag" default="1" type="xs:int" />
    <xs:attribute name="NetSelect" default="FDX_TX_FRAME_BOTH">
      <xs:annotation>
        <xs:documentation>This function is only provided in redundant port operation mode.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value ="FDX_TX_FRAME_DLY_A" />
          <xs:enumeration value ="FDX_TX_FRAME_DLY_B" />
          <xs:enumeration value ="FDX_TX_FRAME_BOTH" />
          <xs:enumeration value ="FDX_TX_FRAME_ONLY_A" />
          <xs:enumeration value ="FDX_TX_FRAME_ONLY_B" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="DomainID" default="0" type="xs:int" />
    <xs:attribute name="SideID" default="0" type="xs:int" />
    <xs:attribute name="LocationID" default="0" type="xs:int" />
    <xs:attribute name="InterfaceID" default="0" type="xs:int" />
    <xs:attribute name="Skew" default="0" type="xs:int" />
    <xs:attribute name="MaxFrameLength" default="0" type="xs:int" />
    <xs:attribute name="FrameBufferSize" default="0" type="xs:int" />    
  </xs:attributeGroup>
  <xs:attributeGroup name="TxCommPortGroup">
    <xs:attribute name="PartitionID" default="0" type="xs:int" />
    <xs:attribute name="SubVlId" default="1" type="xs:int" />
    <xs:attribute name="UdpSrcPort" default="0" type="xs:int" />
    <xs:attribute name="UdpDstPort" default="0" type="xs:int" />
    <xs:attribute name="UdpSamplingRate" default="1" type="xs:int" />
    <xs:attribute name="UdpNumBufMessages" default="1" type="xs:int" />
    <xs:attribute name="UdpMaxMessageSize" default="0" type="xs:int" />
  </xs:attributeGroup>
  <xs:attributeGroup name="TxSapPortGroup">
    <xs:attribute name="PartitionID" default="0" type="xs:int" />
    <xs:attribute name="SubVlId" default="1" type="xs:int" />
    <xs:attribute name="UdpSrcPort" default="0" type="xs:int" />
    <xs:attribute name="UdpNumBufMessages" default="0" type="xs:int" />
    <xs:attribute name="UdpMaxMessageSize" default="0" type="xs:int" />
    <xs:attribute name="DomainID" default="0" type="xs:int" />
    <xs:attribute name="SideID" default="0" type="xs:int" />
    <xs:attribute name="LocationID" default="0" type="xs:int" />
    <xs:attribute name="InterfaceID" default="0" type="xs:int" />
  </xs:attributeGroup>
  <xs:attributeGroup name="RxUdpSessionGroup">
    <xs:attribute name="VlId" default="0" type="xs:int" />
    <xs:attribute name="VLRange" default="0" type="xs:int" />
    <xs:attribute name="Bag" default="1" type="xs:int" />
    <xs:attribute name="Jitter" default="1" type="xs:int" />
    <xs:attribute name="VerificationMode" default="FDX_RX_VL_CHECK_DISA">
      <xs:annotation>
        <xs:documentation>Control parameter to set up verification mode for the given VL. This parameter is only applicable if the VL is set to FDX_RX_VL_ENA_EXT mode.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value ="FDX_RX_VL_CHECK_DISA" />
          <xs:enumeration value ="FDX_RX_VL_CHECK_INVPAC" />
          <xs:enumeration value ="FDX_RX_VL_CHECK_SNINTEG" />
          <xs:enumeration value ="FDX_RX_VL_CHECK_FRAMESIZE" />
          <xs:enumeration value ="FDX_RX_VL_CHECK_TRAFIC" />
          <xs:enumeration value ="FDX_RX_VL_CHECK_REDMAM" />
          <xs:enumeration value ="FDX_RX_VL_CHECK_ENA_DEFAULT" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="MinFrameLength" default="0" type="xs:int" />
    <xs:attribute name="MaxFrameLength" default="0" type="xs:int" />
    <xs:attribute name="MaxSkew" default="0" type="xs:int" />
    <xs:attribute name="VLBufSize" default="0" type="xs:int" />
    <xs:attribute name="FilterMode" default="FDX_RX_VL_FLT_DIS">
      <xs:annotation>
        <xs:documentation>Filter Mode of the second level filter.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value ="FDX_RX_VL_FLT_DIS" />
          <xs:enumeration value ="FDX_RX_VL_FLT_ENA" />
          <xs:enumeration value ="FDX_RX_VL_FLT_ENA_INV" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="FilterPosition" default="0" type="xs:int" />
    <xs:attribute name="FilterMask" default="0" type="xs:int" />
    <xs:attribute name="FilterData" default="0" type="xs:int" />
  </xs:attributeGroup>
  <xs:attributeGroup name="RxCommPortGroup">
    <xs:attribute name="DomainID" default="0" type="xs:int" />
    <xs:attribute name="SideID" default="0" type="xs:int" />
    <xs:attribute name="LocationID" default="0" type="xs:int" />
    <xs:attribute name="PartitionID" default="0" type="xs:int" />
    <xs:attribute name="UdpSrcPort" default="0" type="xs:int" />
    <xs:attribute name="UdpDstPort" default="0" type="xs:int" />
    <xs:attribute name="UdpNumBufMessages" default="1" type="xs:int" />
    <xs:attribute name="UdpMaxMessageSize" default="0" type="xs:int" />
  </xs:attributeGroup>
  <xs:attributeGroup name="RxSapPortGroup">
    <xs:attribute name="UdpDstPort" default="0" type="xs:int" />
    <xs:attribute name="UdpNumBufMessages" default="0" type="xs:int" />
    <xs:attribute name="UdpMaxMessageSize" default="0" type="xs:int" />
  </xs:attributeGroup>
  <xs:complexType name="boardType">
    <xs:annotation>
      <xs:documentation>Represents the physical device with multiple ports.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
			<xs:element name="Port" type="portType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref ="boardGroup" />
  </xs:complexType>
  <xs:complexType name="portType">
    <xs:annotation>
      <xs:documentation>Represents the physical port of a device.</xs:documentation>
    </xs:annotation>
      <xs:choice>
        <xs:element name="TxGenericSession" type="TxGenericSessionType"  minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="RxMonitorSession" type="RxMonitorSessionType"  minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="TxUdpSession" type="TxUdpSessionType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="RxUdpSession" type="RxUdpSessionType" minOccurs="0" maxOccurs="unbounded" />
      </xs:choice>   
    <xs:attributeGroup ref ="portGroup" />
  </xs:complexType>
  <!-- xs:complexType name="SessionModeType" >
    <xs:annotation>
      <xs:documentation>Represent the generic type of session or mode of operation for a port.</xs:documentation>
    </xs:annotation>
		<xs:sequence>
      <xs:choice>
        <xs:element name="TxGenericSession" type="TxGenericSessionType" />
        <xs:element name="RxMonitorSession" type="RxMonitorSessionType" />
				<xs:element name="TxUdpSession" type="TxUdpSessionType" />   
      </xs:choice>      
    </xs:sequence>
  </xs:complexType -->
  <xs:complexType name="TxGenericSessionType">
    <xs:annotation>
      <xs:documentation>The session type for Generic Transmit</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="txGenericSessionGroup" />
		<xs:attributeGroup ref="txStartMode" />
  </xs:complexType>
  <xs:complexType name="RxMonitorSessionType">
    <xs:annotation>
      <xs:documentation>The session type for Chronological Monitor.</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="RxMonitorSessionGroup" />
  </xs:complexType>
  <xs:complexType name="TxUdpSessionType">
    <xs:annotation>
      <xs:documentation>The session type for Individual (UDP Port oriented) Transmit.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <!-- xs:element name="TxUdpPorts" type="TxUdpPortType" minOccurs="0" maxOccurs="unbounded" / -->
      <xs:element name="TxCommPort" type="TxCommPortType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="TxSapPort" type="TxSapPortType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attributeGroup ref="TxUdpSessionGroup" />
  </xs:complexType>
  <xs:complexType name="TxCommPortType">
    <xs:annotation>
      <xs:documentation>TX Sampling Connection-oriented port.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Parameter" type="ParameterType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attributeGroup ref="UdpCommPortTypeGroup" />
    <xs:attributeGroup ref ="TxCommPortGroup" />
  </xs:complexType>
  <xs:complexType name="TxSapPortType">
    <xs:annotation>
      <xs:documentation>TX SAP port.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Parameter" type="ParameterType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attributeGroup ref ="TxSapPortGroup" />
  </xs:complexType>
  <xs:complexType name="RxUdpSessionType">
    <xs:annotation>
      <xs:documentation>The session type for Individual (UDP Port oriented) Receive.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RxCommPort" type="RxCommPortType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="RxSapPort" type="RxSapPortType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attributeGroup ref="RxUdpSessionGroup" />
  </xs:complexType>
  <xs:complexType name="RxCommPortType">
    <xs:annotation>
      <xs:documentation>RX Connection-oriented port.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Parameter" type="ParameterType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attributeGroup ref="UdpCommPortTypeGroup" />
    <xs:attributeGroup ref ="RxCommPortGroup" />
  </xs:complexType>
  <xs:complexType name="RxSapPortType">
    <xs:annotation>
      <xs:documentation>RX SAP port.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Parameter" type="ParameterType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attributeGroup ref ="RxSapPortGroup" />
  </xs:complexType>
  <xs:complexType name="ParameterType">
    <xs:annotation>
      <xs:documentation>Parameter to convert raw frames into EU</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="direction"  maxOccurs="1" minOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="incoming" />
            <xs:enumeration value="outgoing" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="encoding" default="BNR" maxOccurs="1" minOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="BNR"/>
            <xs:enumeration value="BCD"/>
            <xs:enumeration value="Discrete"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:boolean" name="signed" maxOccurs="1" minOccurs="0" default="false"/>
      <xs:element name="startBit"  maxOccurs="1" minOccurs="1"  default="8">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="31"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="numberOfBits" maxOccurs="1" minOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="32"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:double" name="scale"  default="1.0" maxOccurs="1" minOccurs="1"/>
      <xs:element type="xs:double" name="offset" default="0.0" maxOccurs="1" minOccurs="1" />
      <xs:element type="xs:string" name="name">
        <xs:annotation>
          <xs:documentation>For Discrete encoding, there is one "name" element per Bit</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="unit" maxOccurs="1" minOccurs="0"/>
      <xs:element type="xs:double" name="defaultValue"  default="0.0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Board" type="boardType" />
  <xs:element name="Port" type="portType" />
 <!-- <xs:element name="Session" type="SessionModeType" />
   xs:element name="TxGenericSession" type="TxGenericSessionType" />
  <xs:element name="RxMonitorSession" type="RxMonitorSessionType" />
  <xs:element name="TxUdpSession" type="TxUdpSessionType" />
  <xs:element name="CommSamplingPort" type="CommSamplingPortType" / -->
</xs:schema>
